{% extends 'base.html' %}
{% load staticfiles %}
{% load form_fields %}
{% block content %}
        <div class="content-wrapper">

            <div id="page-wrapper">

        <div class="container-fluid TopAlignStyles">


            <!-- /.row -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default BlackSqureBox">
                            <div class="panel-heading">
                                <h4>About Us</h4>
                            </div>
                            <div class="panel-body">
                                <div class="row">

                                        <div align="center" class="col-md-12">
                                            <div class="col-xs-12 col-sm-12 col-md-12 nopadding">

                                        <div class="col-xs-12 col-sm-12 col-md-12 nopadding">
                                            <h2><strong>THE ARC FOUNDATION INDIA</strong></h2>
                                            <br>
                                            <p><b>THE ARC</b> </p>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-5 nopadding"></div>
                                             <div class="col-xs-12 col-sm-12 col-md-12 nopadding">
                                                 <br>
                                                 <br>
                                        <div align="left" class="col-xs-12 col-sm-12 col-md-5 nopadding">

                                        </div>

                                        <div align="left" class="col-xs-12 col-sm-12 col-md-5 nopadding">
                                            <p></p>
                                            <p></p>
                                        </div>
                                    </div>


                                    <div align="left" class="col-xs-12 col-sm-12 col-md-12 nopadding">
                                        <br>


                                        <div align="left" class="col-xs-12 col-sm-12 col-md-5 nopadding">
                                            <p>
                                                <differentiators class=""></differentiators>
                                            </p>
                                        </div>

                                    </div>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

        </div>
                <!-- /.container-fluid -->
    </div>


        </div>
        <!-- /#page-wrapper -->

{% endblock %}